# dependencies
node_modules

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# eslint
.eslintcache

# misc
.DS_Store
.vercel/

# IDE
.vscode
.idea

# cli
dist

.env*
!.env.example
**/.secrets/
*.pem
*.key
*.p12
*.pfx
*.log
**/.next/
**/next-env.d.ts
**/coverage/
packages/nextjs/.data/

server/.data/
**/.env.local
**/*.tsbuildinfo
packages/foundry/out/
packages/foundry/cache/
packages/foundry/broadcast/
packages/foundry/.secrets/
