**/node_modules/**
**/dist/**
**/.next/**
.yarn/**
yarn.lock
**/*.tsbuildinfo
**/next-env.d.ts
**/.data/**
**/.env*
LICENSE

packages/foundry/out/**
packages/foundry/cache/**
packages/foundry/broadcast/**
packages/foundry/.secrets/**
